.mario{
  width: 200px;
  position: absolute;
}

.gomba{
  width: 200px;
  position: absolute;
  top: 380px;
}

.bowser{
  width: 200px;
  position: absolute;
  left: 500px;
}

p{
  position: absolute;
  z-index: 2;
  font-size: 14px;
  left: 354px;
  top: 98px;
}

.balon{
  width: 150px;
  position: absolute;
  left: 350px;
  top: 80px;
  z-index: 1;
}